extends layout

append stylesheets
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  div(ng-controller="indexController")
    .modal
      .modal__inner
        .modal__header
          h2 Hoşgeldin. Lütfen Giriş Yap
        .modal__footer
          a(href="/auth/google")
            i.fab.fa-google(aria-hidden=true).mr-2
            |  Google ile giriş yap
append javascripts
  script(src="javascripts/controller/indexController.js")