extends layout

append stylesheets
  link(rel='stylesheet', href='/stylesheets/index.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css')

block content
  div(ng-controller="indexController")
    .modal
      .modal__inner
        .modal__header
          h2 Hoşgeldin. Lütfen Giriş Yap
        .modal__footer
          a(href="#")
            i.fab.fa-google(aria-hidden=true).mr-2
            |  Google ile giriş yap
append javascripts
  script(src="javascripts/controller/indexController.js")